<!DOCTYPE html>
<html lang="en">
<head>
    <title>Coffe home</title>
</head>
<body>
    <ul id="navigation">
    {% for key, value in navigation.items() %}
        <li><a href="{{ value }}">{{ key }}</a></li>
    {% endfor %}
    </ul>

    <h1>Coffe bags</h1>
    <table>
    <tr>
        <td><a>id</a></td> 
        <td><a>name</a></td>
        <td><a>weight</a></td>
        <td><a>roast date</a></td>
    </tr>
    {% for bag in bags %}
    <tr>
        <td><a>{{bag['id']}}</a></td> 
        <td><a>{{bag['coffeType']['name']}}</a></td> 
        <td><a>{{bag['weight']}}</a></td> 
        <td><a>{{bag['date']}}</a></td> 
    </tr>
    {% endfor %}
    </table>
</body>
</html>
